@media screen and (max-width: 1300px) {
  #benefits .benefits-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  #benefits .benefits-grid .benefit-box {
    padding: 12%;
  }

  .wavy-box {
    --s: 350px;
  }
}

@media screen and (max-width: 1200px) {
  #contact .container {
    gap: 24px;
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  #store {
    flex-direction: column-reverse;
    padding: 5vh 0;
    gap: 80px;
  }

  #store .content {
    gap: 5vh;
    width: 90%;
  }

  #store .positioned-images {
    position: relative;
    inset: 0;
  }

  #store .content .head-box {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  #store .content .text-box {
    padding: 2vh;
    align-items: center;
    width: 100%;
    border-radius: 0;
    height: auto;
  }

  #store .content .text-box .text {
    width: 100%;
  }

  #contact {
    padding: 0;
  }
  #contact .container {
    border-radius: 0;
  }
  #contact .container .section-title {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: 70dvh;
  }

  .banner .content {
    flex-direction: column;
    align-items: center;
    gap: 8vh;
    max-width: 90dvw;
  }

  .banner .text {
    align-items: center;
    text-align: center;
    height: auto;
  }

  .banner .images-box {
    width: fit-content;
  }

  .banner .images-box .main-image {
    max-width: 80%;
  }

  .banner .images-box .shape-half-round {
    left: 9%;
  }

  .banner .images-box .shape-round {
    left: 22%;
  }

  .banner .images-box .shape-long-rounded {
    bottom: 4%;
    right: 11%;
  }

  #benefits .benefits-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  #store .positioned-images .main-image {
    max-width: 53vw;
  }

  #learn-more .images-box .main-image {
    max-width: 100%;
  }

  #learn-more .images-box .shape-half-round {
    left: -2%;
    top: 12%;
  }

  #learn-more .images-box .shape-round {
    left: 12%;
    bottom: 27%;
    max-width: 16vw;
  }

  .shape-half-round {
    max-width: 24vw;
  }

  .shape-round {
    max-width: 18vw;
  }

  .shape-long-rounded {
    max-width: 42vw;
  }

  .wavy-box {
    --s: 330px;
  }
}

@media screen and (max-width: 350px) {
  #benefits .benefits-grid {
    display: flex;
    flex-direction: column;
  }

  .wavy-box {
    --s: 320px;
  }
}
